.gray-hover{
    transition: 150ms;
}
.gray-hover:hover{
    background-color: rgb(230, 230, 230);
}

.light-red-hover{
    transition: 150ms;
}

.light-red-hover:hover{
    background-color: rgb(255, 140, 140);
}

.light-blue-hover{
    transition: 150ms;
}

.light-blue-hover:hover{
    background-color: rgb(102, 196, 255);
}

.white-shadow-hover{
    transition: 150ms;
}

.white-shadow-hover:hover{
    box-shadow: 0px 0px 15px 4px rgb(224, 224, 224);
}

.pointer{
}

.pointer:hover{
    cursor: pointer;
}

.ul-hover{

}

.ul-hover:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}