html, body{
    background-color: #0d0a1d;
    margin: 0;
}


  
.calculator-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.calculator {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 60vh;
    aspect-ratio: 1 / 1; /* Maintain 1:1 aspect ratio */
    background-color: #f0f0f0; /* Example background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    
    flex-direction: column;
    overflow: hidden;
}

.text{
    position:absolute;
    bottom:0;
    right:0;
}
